<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Hakkımızda</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}" />

  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/hakkımızda.css') }}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{{ url_for('static', filename='css/responsive.css') }}" rel="stylesheet" />
</head>

<body class="sub_page">
  <div class="hero_area">
 <!-- header section starts -->
 <header class="header_section">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg custom_nav-container">
      <a class="navbar-brand" href="{{ url_for('index') }}">
        <img src="{{ url_for('static', filename='images/terazi.png') }}" alt="" />
        <span> Avukatımı Bul </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('index') }}">Anasayfa <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('hakkımızda') }}"> Hakkımızda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('avukat') }}">Avukatımı Bul </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('yapayzeka') }}"> Dava Tahmini Yap </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('asistan') }}"> Avukat Tavsiyesi Al </a>
          </li>
          
          <!-- İlan Ver bağlantısı -->
          {% if session.get('sicil_no') %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('ilan') }}">İlan Ver</a>
          </li>
          {% endif %}

          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('sss') }}">SSS </a>
          </li>
        </ul>
        <div class="user_option">
          {% if session.get('username') %}  <!-- Oturum açılmışsa -->
          <div class="dropdown">
            <span class="username">{{ session['username'] }}</span>  <!-- Kullanıcı adını göster -->
            <div class="dropdown-content">
              <a href="{{ url_for('logout') }}">Çıkış Yap</a>  <!-- Çıkış yap linki -->
            </div>
          </div>
          {% else %}
          <a href="{{ url_for('login') }}">
            <span>Giriş Yap</span>  <!-- Giriş yapmamışsa Login yaz -->
          </a>
          {% endif %}
          <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
            <button class="btn my-2 my-sm-0 nav_search-btn" type="submit"></button>
          </form>
        </div>
      </div>
      <div>
        <div class="custom_menu-btn">
          <button>
            <span class="s-1"></span>
            <span class="s-2"></span>
            <span class="s-3"></span>
          </button>
        </div>
      </div>
    </nav>
  </div>
</header>
          <!-- header section ends -->
  </div>
      
 

      <!-- about section -->

  <section class="about_section layout_padding-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-9 mx-auto">
          <div class="img-box">
            <img src="{{ url_for('static', filename='images/about-img.jpg') }}" alt="">
          </div>
        </div>
      </div>
      <div class="detail-box">
        <h2>
          Avukatımı Bul Nedİr?
        </h2>
        <p>
        Avukatımı Bul, herkesin hukuki süreçlere eşit ve adil bir şekilde erişmesini sağlamak için yapay zeka entegreli bir platformdur.<br>
        Hukuki sorunlarınıza çözüm ararken, alanında uzman avukatları tek tıkla keşfedin. Avukatların profillerini ve kullanıcı yorumlarını inceleyerek en doğru tercihi yapın. Sorularınıza anında yanıt alarak, sürecinizi hızlandırın ve güvenle ilerleyin. Seçtiğiniz avukatla kolayca iletişim kurarak, hukuki süreçlerinizi en iyi şekilde yönetin.
        </p>
      </div>
    </div>
  </section>
  <!-- Benim admin kontrolü ve admin işlemleri yapacağım yer -->
   

  <!-- end about section -->

  <!-- experience section -->

  <section class="about_section layout_padding-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-9 mx-auto">
      </div>
    </div>
    <div class="detail-box">
      <h2>
        EKİBİMİZ
        <br><br>
      </h2>
    </div>

    <!-- Team Member 1 -->
    <div class="row team-member">
      <div class="col-md-4">
        <div class="img-box">
          <img src="{{ url_for('static', filename='images/avukat7.png') }}" alt="Team Member 1" class="team-photo">
        </div>
      </div>
      <div class="col-md-8">
        <div class="text-box">
          <h3 class="team-name">Muhammed Keskin</h3>
          <p>Merhabalar ben Muhammed Keskin,Gazi Ünivesritesi Bilgisayar Mühendisliği 3. sınıfım.</p>
        </div>
        </div>
      </div>
    </div>

    <!-- Team Member 2 -->
    <div class="row team-member">
      <div class="col-md-4">
        <div class="img-box">
          <img src="{{ url_for('static', filename='images/avukat6.png') }}" alt="Team Member 2" class="team-photo">
        </div>
      </div>
      <div class="col-md-8">
        <div class="text-box">
          <h3 class="team-name">Büşra Özlem Koç</h3>
          <p>Ben Büşra Özlem Koç, Hacettepe Üniversitesi Bilgisayar Mühendisliği 2.sınıfım.</p>
        </div>
      </div>
    </div>

    <!-- Team Member 3 -->
    <div class="row team-member">
      <div class="col-md-4">
        <div class="img-box">
          <img src="{{ url_for('static', filename='images/avukat5.png') }}" alt="Team Member 3" class="team-photo">
        </div>
      </div>
      <div class="col-md-8">
        <div class="text-box">
          <h3 class="team-name">M. Necati Tetik</h3>
          <p>Merhabalar ben >M. Necati Tetik, Ostim Teknik Üniversitesi Bilgisayar Mühendisliğinden yeni mezun oldum.</p>
        </div>
      </div>
    </div>
  </div>
</section>





  <!-- end experience section -->


  <!-- info section -->

  <section class="info_section ">
    <div class="info_container layout_padding-top">
      <div class="container">
        <div class="info_top">
          <div class="info_logo">
            <img src="/static/images/logo.png" alt="" />
            <span>
              Avukatımı Bul
            </span>
          </div>
          <div class="social_box">
            <a href="#">
              <img src="{{ url_for('static', filename='images/fb.png') }}" alt="">
            </a>
            <a href="#">
              <img src="{{ url_for('static', filename='images/twitter.png') }}" alt="">
            </a>
            <a href="#">
              <img src="{{ url_for('static', filename='images/linkedin.png') }}" alt="">
            </a>
            <a href="#">
              <img src="{{ url_for('static', filename='images/instagram.png') }}" alt="">
            </a>
            <a href="#">
              <img src="{{ url_for('static', filename='images/youtube.png') }}" alt="">
            </a>
          </div>
        </div>

        <div class="info_main">
          <div class="row">
            <div class="col-md-3 col-lg-2">
              <div class="info_link-box">
                <h5>Sayfalar</h5>
                <ul>
                  <li class="active">
                    <a class="" href="{{ url_for('index') }}"
                      >Ana Sayfa <span class="sr-only">(current)</span></a>
                      <li class="">
                        <a class="" href="{{ url_for('hakkımızda') }}">Hakkımızda </a>
                      </li>
                      <li class="">
                        <a class="" href="{{ url_for('avukat') }}">Avukatımı Bul </a>
                      </li>
                      <li class="">
                        <a class="" href="{{ url_for('yapayzeka') }}">Dava Tahmini Yap </a>
                      </li>
                      <li class="">
                        <a class="" href="{{ url_for('asistan') }}">Avukat Tavsiyesi Al </a>
                      </li>
                      <li class="">
                        <a class="" href="{{ url_for('sss') }}">SSS </a>
                      </li>
                </ul>
              </div>
            </div>
            <div class="col-md-3">
              <h5>MİSYON</h5>
              <p>
                Sürdürülebilir Kalkınma Hedefleri’nden “Barış, Adalet ve Güçlü
                Kurumlar” ilkesine bağlı kalarak, herkesin hukuki süreçlerde
                eşit ve adil bir şekilde temsil edilmesini sağlamak için
                teknolojiyi kullanıyoruz. Yapay zeka desteğiyle, güvenilir
                hukuki danışmanlığa kolay ve hızlı erişim sunarak topluma
                hizmet ediyoruz.
              </p>
            </div>

            <div class="col-md-3">
              <h5>VİZYON</h5>
              <p>
                Adaletin herkes için erişilebilir olduğu bir dünya yaratmayı
                hedefliyoruz. Teknolojiyi, bireylerin hukuki haklarını
                savunabilmeleri için güçlü bir araç haline getirerek, toplumda
                barış ve güçlü kurumlar inşa etmek amacıyla sektörde öncü
                olmayı amaçlıyoruz.
              </p>
            </div>

            <div class="col-md-3 offset-lg-1">
              <div class="info_form">
                <h5>BİZE ULAŞIN</h5>
                <form action="">
                  <input type="email" placeholder="Email" />
                  <button>Gönder</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-9 col-md-10 mx-auto">
            <div class="info_contact layout_padding2">
              <div class="row">
                <div class="col-md-3">
                  <a href="#" class="link-box">
                    <div class="img-box">
                      <img src="{{ url_for('static', filename='images/location.png') }}" alt="">
                    </div>
                    <div class="detail-box">
                      <h6>
                        Konum
                      </h6>
                    </div>
                  </a>
                </div>
                <div class="col-md-4">
                  <a href="#" class="link-box">
                    <div class="img-box">
                      <img src="{{ url_for('static', filename='images/mail.png') }}" alt="">
                    </div>
                    <div class="detail-box">
                      <h6>
                        avukatımıbul@gmail.com
                      </h6>
                    </div>
                  </a>
                </div>
                <div class="col-md-5">
                  <a href="#" class="link-box">
                    <div class="img-box">
                      <img src="{{ url_for('static', filename='images/call.png') }}" alt="">
                    </div>
                    <div class="detail-box">
                      <h6>
                        Call +90 1234567890
                      </h6>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- end info section -->

  <!-- footer section -->
  <footer class="container-fluid footer_section ">
    <div class="container">
      <p>
        &copy; <span id="displayDate"></span> All Rights Reserved By Ankatech
      </p>
    </div>
  </footer>
  <!-- end  footer section -->


  <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
  <script src="{{ url_for('static', filename='js/custom.js') }}"></script>


</body>
</body>

</html>